/node_modules
/public/hot
/public/uploads
/public/thumbnail
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
index.html
index-3.html
index-4.html
shop-single.html
ser-concept-designs.html
